// CSS HOMEPAGE
body {
    section {
        .container {
            padding: 90px 0;
        }
        .container-fluid {
            padding: 30px;
        }
    }
    a {
        text-decoration: none;
        text-transform: uppercase;
    }
    .text h2 {
        font-size: 40px;
        text-transform: uppercase;
    }
    .text p {
        margin-top: 35px;
        margin-bottom: 50px;
    }
    .slider {
        height: 100vh;
        position: relative;
        overflow: hidden;
        &__image {
            width: 100%;
            height: 100%;
            // display: flex;
            .slider__image-item {
                // display: none;
                width: 100%;
                height: 100%;
                @include transition(transform 0.5s ease-out);
                position: relative;
                .slider__item-img {
                    @include midImg;
                }
                .text {
                    z-index: 100;
                    @include mid;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h1 {
                        color: $main-color;
                        font-size: 84px;
                        text-transform: uppercase;
                    }
                }
            }
        }
        &__bottom {
            position: absolute;
            width: 100%;
            bottom: 0;
            .container-fluid {
                @include flexSB;
                align-items: flex-end;
                .pagging {
                    display: flex;
                    align-items: center;
                    span {
                        position: relative;
                        color: $main-color;
                        font-size: 42px;
                        font-weight: bold;
                        line-height: 48px;
                        margin-left: 80px;
                        &::after {
                            position: absolute;
                            content: '';
                            width: 80px;
                            height: 3px;
                            background: $main-color;
                            top: 50%;
                            left: -90px;
                        }
                    }
                    ol {
                        margin-left: 10px;
                        position: relative;
                        ol {
                            display: flex;
                            bottom: 0;
                            li {
                                background: $main-color;
                            }
                        }
                    }
                    // ul {
                    //     margin-left: 20px;
                    //     display: flex;
                    //     li {
                    //         width: 8px;
                    //         height: 8px;
                    //         background: $main-color;
                    //         border-radius: 50%;
                    //         margin: 0 5px;
                    //         cursor: pointer;
                    //         opacity: 0.3;
                    //         @include transition(0.3s);
                    //         &:hover {
                    //             opacity: 1;
                    //             @include transition(0.3s);
                    //         }
                    //         &.active {
                    //             opacity: 1;
                    //         }
                    //     }
                    // }
                }
                .mouse {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    @include midX;
                    margin-bottom: 20px;
                    ;
                    img {
                        &:first-child {
                            margin-bottom: 10px;
                        }
                    }
                    @include keyframes(topdown) {
                        0% {
                            @include transform(translateY(0px));
                            opacity: 0;
                            @include transition(0.3s);
                        }
                        100% {
                            @include transform(translateY(30px));
                            opacity: 1;
                            @include transition(0.3s);
                        }
                    }
                    .arrow {
                        @include animation(topdown 1s ease forwards infinite);
                    }
                }
                .control {
                    display: flex;
                    &__btn {
                        &:last-child {
                            margin-left: -2px;
                        }
                    }
                    &__btn {
                        &:hover {
                            background-color: $main-color;
                            @include transition(0.3s);
                        }
                    }
                }
            }
        }
        @include sm {
            .slider {
                &__bottom {
                    .mouse {
                        visibility: hidden;
                    }
                }
            }
        }
        @include xs {
            &__image {
                .slider__image-item {
                    .text {
                        h1 {
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
    .part-description {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 100px;
        overflow: hidden;
        .text {
            max-width: $text-width;
            padding-left: 90px;
            padding-right: 70px;
            p {
                margin-top: 25px;
                margin-bottom: 35px;
            }
            h2 {
                position: relative;
                &:after {
                    content: "";
                    width: 80px;
                    height: 2px;
                    background-color: $main-color;
                    @include mid;
                    left: -50px;
                }
            }
        }
        &:nth-child(even) {
            flex-direction: row-reverse;
            text-align: right;
            .text {
                padding-right: 90px;
                padding-left: 70px;
                h2 {
                    &:after {
                        left: auto;
                        right: -130px;
                    }
                }
            }
        }
    }
    .quality {
        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            .text {
                max-width: 500px;
                text-align: center;
                &:hover {
                    h2 {
                        &:after {
                            width: 80%;
                        }
                    }
                }
                h2 {
                    position: relative;
                    &:after {
                        @include line-after(0, $main-color, 3px);
                    }
                }
                p {
                    margin-bottom: 60px;
                }
            }
        }
        .audio {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            &__items {
                position: relative;
                .audio__items-img {
                    width: 230px;
                    height: 230px;
                    border-radius: 50%;
                    position: relative;
                    overflow: hidden;
                    &::after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        border: 10px solid #ddd;
                        border-radius: 50%;
                        @include mid;
                        z-index: 0;
                    }
                    .audio__background {
                        transform: scale(1);
                        @include midImg;
                        border-radius: 100%;
                        transition: 0.3s;
                    }
                    .play-btn {
                        @include mid;
                        padding: 20px 18px 15px 20px;
                        background-color: $main-color;
                        border-radius: 50%;
                        cursor: pointer;
                        z-index: 100;
                    }
                    &:hover {
                        .audio__background {
                            filter: brightness(80%);
                            -webkit-filter: brightness(80%);
                            -moz-filter: brightness(80%);
                            transform: translate(-50%, -50%) scale(1.1);
                            transition: 0.3s;
                        }
                    }
                }
                .audio__items-caption {
                    text-align: center;
                    text-transform: capitalize;
                    &:before {
                        content: "";
                        width: 20%;
                        height: 2px;
                        background-color: $main-color;
                        position: relative;
                        display: block;
                        margin: 15px auto;
                    }
                }
            }
        }
        @include sm {
            .container {
                .audio {
                    &__items {
                        .audio__items-img {
                            width: 180px;
                            height: 180px;
                        }
                    }
                }
            }
        }
        @include xs {
            .container {
                .audio {
                    flex-direction: column;
                    align-items: center;
                    &__items {
                        .audio__items-caption {
                            margin-top: 20px;
                            margin-bottom: 20px;
                        }
                        &:last-child {
                            .audio__items-caption {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .info {
        background: url(../img/wood-bgr.jpg);
        padding-top: 190px;
        padding-bottom: 180px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        .container {
            padding: 0 0;
            .text {
                max-width: 430px;
                p {
                    color: $white-color;
                }
                h2 {
                    color: $main-color;
                }
                .big-btn {
                    width: max-content;
                    flex-direction: row-reverse;
                    img {
                        margin-left: 0;
                        margin-right: 10px;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .about {
        .part-description {
            margin-bottom: 0;
            flex-direction: row-reverse;
            .text {
                padding-left: 70px;
                padding-right: 90px;
            }
        }
    }
    .gallery {
        background-color: $black-color;
        color: $white-color;
        .text {
            max-width: 440px;
        }
        .gallery__grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 200px;
            gap: 10px;
            .gallery__grid-item {
                overflow: hidden;
                position: relative;
                img {
                    transform: scale(1);
                    @include midImg;
                    @include transition(0.3s);
                }
                &:nth-child(2) {
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 2;
                    grid-column-end: 3;
                    height: 100%;
                }
                &:hover {
                    img {
                        transform: translate(-50%, -50%) scale(1.1);
                        @include transition(0.3s);
                    }
                }
            }
        }
        @include sm {
            .container {
                .gallery__info {
                    .gallery__grid {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }
        }
    }
    .news {
        .news__info {
            .text {
                max-width: 440px;
            }
            .news__tag {
                .news__tag-text {
                    display: flex;
                    align-items: center;
                    margin-bottom: 40px;
                    .tag {
                        font-size: 20px;
                        padding: 15px 30px;
                        background: #ddd;
                        cursor: pointer;
                        &:not(:last-child) {
                            margin-right: 20px;
                        }
                        &:hover {
                            opacity: 0.6;
                            @include transition(0.3s);
                        }
                        &.active {
                            background: #bfb7a8;
                            color: $white-cl;
                            @include transition(0.3s);
                        }
                    }
                }
            }
            .box {
                // display: none;
                display: grid;
                max-height: 0;
                overflow: hidden;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 25px;
                @include transition(0.3s);
                &.active {
                    max-height: max-content;
                    @include transition(max-height 0.3s ease-out);
                }
                .content {
                    .text {
                        position: relative;
                        width: 100%;
                        margin-top: 60px;
                        p {
                            margin-bottom: 0;
                        }
                        h3 {
                            font-size: 2.4rem;
                            text-transform: uppercase;
                            height: 60px;
                            @include overtext(2);
                            &:after {
                                content: '';
                                top: -27px;
                                left: 0;
                                width: 30%;
                                height: 3px;
                                background-color: $main-color;
                                position: absolute;
                            }
                        }
                    }
                }
                .content-img {
                    position: relative;
                    height: 0;
                    padding-bottom: 65%;
                    overflow: hidden;
                    img {
                        @include midimg;
                    }
                }
            }
        }
        @include xs {
            .container {
                .news__info {
                    .news__tag {
                        .news__tag-text {
                            .tag {
                                font-size: 20px;
                                padding: 10px 20px;
                            }
                        }
                    }
                    .box {
                        grid-template-columns: auto;
                        .content {
                            .text {
                                h3 {
                                    height: 100%;
                                    @include overtext(initial);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .image-drag {
        margin: 70px 0;
        // .flickity-viewport {
        //     height: 100% !important;
        // }
        position: relative;
        .drag-item {
            width: 100%;
            .item-img {
                width: 33%;
                height: 300px;
                margin-right: 15px;
                position: relative;
                overflow: hidden;
                // height: 0%;
                padding-bottom: 20%;
                display: flex;
                align-items: center;
                img {
                    // min-width: 100%;
                    // min-height: 100%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    left: 50%;
                    top: 50%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &.is-fullscreen {
                top:80px;
                .item-img {
                    height: 100%;
                    img {
                        height: 80%;
                    }
                }
            }
        }
        .process {
            width: 220px;
            text-align: center;
            margin: 40px auto 0 auto;
            // background-color: black; r
            .time-line {
                height: 3px;
                width: 0;
                background-color: #3ab1e6;
                margin-top: 10px;
            }
        }
    }
    @include sm{
         .image-drag{
            .drag-item.is-fullscreen{
                 
                    .item-img{
                        width: 100%;
                    }
                
            }
         } 
    }
    @include xs{
        .image-drag{
            .drag-item{
                 
                    .item-img{
                        width: 100%;
                    }
                    &.is-fullscreen {
               
                        .item-img {
                            height: 100%;
                            img {
                                height: max-content;
                            }
                        }
                    }
            }
            
         } 
    }
}